# requirements for mPIXdaq
# - standard system packages 
# argparse
# gzip
# os
# pathlib
# platform
# queue
# re
# sys
# time
# threading
# zipfile
# 
# special requirements
matplotlib
numpy
npy_append_array
pyyaml
scipy


